.vs/VSWorkspaceState.json
.vs/Festival_app/config/applicationhost.config
.vs/Festival_app/CopilotIndices/17.14.1561.44479/CodeChunks.db
.vs/Festival_app/CopilotIndices/17.14.1561.44479/SemanticSymbols.db
.vs/Festival_app/FileContentIndex/05b69f97-aa25-4a1b-9ceb-ad84dba5cf32.vsidx
.vs/Festival_app/v17/.wsuo
.vs/Festival_app/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
