body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background: #ff4d4d;
  color: white;
  cursor: pointer;
  display: block;
  margin: 10px auto;
}



.item {
    display: flex;              /* alles in einer Reihe */
    align-items: center;        /* vertikal zentrieren */
    gap: 10px;                  /* Abstand zwischen Text und Buttons */
    font-size: 18px;            /* Textgröße */
    margin-bottom: 10px;        /* Abstand zwischen Items */
}

.btn {
    width: 40px;                /* feste Breite */
    height: 40px;               /* feste Höhe */
    font-size: 20px;            /* große Schrift für + / - */
    display: flex;              
    justify-content: center;    /* horizontal zentrieren */
    align-items: center;        /* vertikal zentrieren */
    cursor: pointer;            
    border: 1px solid #333;     
    border-radius: 5px;         
    background-color: #ff0606;  
}

span {
    min-width: 20px;            /* Zahl bekommt Platz */
    text-align: center;         /* Zahl zentriert */
}

button:hover {
  background: #ff1a1a;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

td {
  text-align: center;
  padding: 8px;
}

footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #aaa;
}

h1 {
  cursor: pointer;
}

h1:hover {
  opacity: 0.8;
}
button {
  width: 200px;
  height: 50px;
}